<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          class="navbar"
          src="https://www.logo.wine/a/logo/Facebook/Facebook-f_Logo-Blue-Logo.wine.svg"
          alt=""
        />
      </a>
      <span class="search">
        <div class="form-group">
          <span class="inputRelative" style="position: relative">
            <i
              class="fa fa-search"
              style="position: absolute; top: 12px; left: 11px"
            ></i>
            <input
              placeholder="Search on facebook"
              style="
                width: 252px;
                background-color: #f0f2f5;
                border-radius: 25px;
              "
              class="form-control"
              type="text"
              name=""
              id=""
            />
          </span>
        </div>
      </span>
      <span class="menuIcons">
        <span routerLink="home" ><i class="fa fa-home"></i></span>
        <span><i class="fa fa-flag"></i></span>
        <span><i class="fa fa-video"></i></span>
        <span><i class="fa fa-shop"></i></span>
        <span routerLink="profile"><i class="fa fa-user"></i></span>
      </span>
      <span class="profileRight">
        <span class="pl-2"><span class="circle">
            <i class="fa fa-th"></i>
        </span></span>
        <span class="pl-2"><span  class="circle" >
            <i class="fa fa-commenting" aria-hidden="true"></i> 
        </span></span>
        <span class="not">
            <span class="notCircle"><p style="    font-size: 14px;">17</p></span>
        </span>
        <span class="pl-2">
           
            <span  class="circle">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </span> </span
      >
        <span  routerLink="profile" class="profileIMage pl-3"><img src="https://th.bing.com/th/id/OIP.o_EnHd2F1xMitXtfM3bjawHaEo?rs=1&pid=ImgDetMain" alt=""></span>
    </span>
    </div>
  </nav>