<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="gridLeft">
        <ul class="leftMenu">
          <span>
            <img
              class="imageBorder"
              src="https://th.bing.com/th/id/OIP.o_EnHd2F1xMitXtfM3bjawHaEo?rs=1&pid=ImgDetMain"
              alt=""
            />
            <li>Ramesh Kumar Adury</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://th.bing.com/th/id/OIP.o_EnHd2F1xMitXtfM3bjawHaEo?rs=1&pid=ImgDetMain"
              alt=""
            />
            <li class="pl-2">Ramesh Kumar Adury</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              style=""
              src="https://cdn-icons-png.flaticon.com/512/6387/6387942.png"
              alt=""
            />
            <li class="pl-2">Friends</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy7kbLR76mMcyL2jwciqil9yo2xK1KxUIM1g&s"
              alt=""
            />
            <li class="pl-2">Memories</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo4APa7AR_Kp66o03ANueqh9fl8JlhxX_b3w&s"
              alt=""
            />
            <li class="pl-2">Saved</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://cdn-icons-png.flaticon.com/512/11820/11820089.png"
              alt=""
            />
            <li class="pl-2">Groups</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://cdn.iconscout.com/icon/free/png-256/free-facebook-watch-logo-icon-download-in-svg-png-gif-file-formats--chatting-video-streaming-social-media-pack-logos-icons-5582795.png"
              alt=""
            />
            <li class="pl-2">Videos</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://www.pngitem.com/pimgs/m/529-5295750_facebook-marketplace-01-marketplace-facebook-logo-png-transparent.png"
              alt=""
            />
            <li class="pl-2">Market Place</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZrSB3ZJ0EBUm01dcpPV_WrUu81XO9fnXo9w&s"
              alt=""
            />
            <li class="pl-2">Feeds</li>
          </span>
          <span class="d-flex">
            <img
              class="imageBorder mt-3"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgCHo0BGKexnTV_dgf4N3sga_Fs1vK-8nm6w&s"
              alt=""
            />
            <li class="pl-2">See More</li>
          </span>
        </ul>
      </div>
    </div>
    <div class="col-5">
      <div
        class="card whats"
        style="position: relative; top: 103px; height: 136px"
      >
        <div class="card-body">
          <span class="d-flex">
            <img
              style="height: 40px; width: 40px; border-radius: 100%"
              src="https://i.pinimg.com/originals/07/33/ba/0733ba760b29378474dea0fdbcb97107.png"
              alt=""
            />
            <div class="form-group">
              <input
                placeholder="Whats On Your Mind"
                style="
                  width: 499px;
                  background-color: #f0f2f5;
                  border-radius: 25px;
                "
                class="form-control ml-2"
                type="text"
                name=""
                id=""
              />
            </div>
          </span>
          <div class="p-3">
            <span class="statusicons">
              <span class="d-flex">
                <i class="fa fa-camera m-1" style="color: #e42645"></i>
                <p>Live Video</p></span
              >
              <span class="d-flex">
                <i class="fa fa-file m-1" style="color: #41b35d"></i>
                <p>Photo/Video</p></span
              >
              <span class="d-flex">
                <i class="fa fa-flag m-1" style="color: #009de8"></i>Life
                Event</span
              >
            </span>
          </div>
        </div>
      </div>

      <div class="card whats mt-3" style="position: relative; top: 103px">
        <div class="card-body">
          <div class="ImageCents" style="margin-right: 5px">
            <span class="ImageCent">
              <span class="imgTop">
                <img
                  width="130px"
                  height="170px"
                  style="object-fit: cover; border-radius: 25px 25px 0px 0px"
                  src="https://th.bing.com/th/id/OIP.o_EnHd2F1xMitXtfM3bjawHaEo?rs=1&pid=ImgDetMain"
                  alt=""
                />
              </span>
              <span class="createIcons">
                <span class="iconBG">
                  <i
                    style="margin-left: 55px; margin-top: 32px; font-size: 25px"
                    class="fa fa-add"
                  ></i>
                </span>
                <img
                  class="icons"
                  style="height: 50px; margin-left: 43px; width: 50px"
                  src="https://cdn-icons-png.flaticon.com/512/8377/8377219.png"
                  alt=""
                />
                <p
                  style="
                    text-align: center;
                    font-weight: 600;
                    top: -20px;
                    position: relative;
                  "
                >
                  Create Story
                </p>
              </span>
            </span>
            <img
              class="proP"
              src="https://e0.pxfuel.com/wallpapers/900/942/desktop-wallpaper-cartoon-cartoon-new-cartoon-boy-cartoon-letest-cartoon-cute-cartoon-cute-bay-cartoon-kartoon-thumbnail.jpg"
              alt=""
            />
            <span class="statuses">
              <img
                src="https://images.unsplash.com/photo-1593085512500-5d55148d6f0d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D"
                alt=""
              />
            </span>

            <span class="statuses">
              <img
                class="proP1"
                src="https://2.imimg.com/data2/KE/XV/ANDROID-1391572/product-500x500.jpeg"
                alt=""
              />
              <img
                src="https://r1.ilikewallpaper.net/iphone-wallpapers/download/12702/One-Piece-iphone-wallpaper-ilikewallpaper_com.jpg"
                alt=""
              />
            </span>
            <span class="statuses">
              <img
                class="proP2"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT26C9En9kfdR9BRBJZ6dusSVqv9mRR2L59YznndwjnM0W43IfUy3_Bl_BTQws0u__oKLI&usqp=CAU"
                alt=""
              />
              <img
                src="https://wallpaper.forfun.com/fetch/50/5081f28733ce69397d496a2dfdcedc2d.jpeg"
                alt=""
              />
            </span>
          </div>
        </div>
      </div>
      <div
        class="card"
        style="    margin-top: 119px;
}"
      >
        <div class="card-body">
          <span class="d-flex postsLogo">
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/768px-BMW.svg.png"
              alt=""
            />
            <h5 class="pl-2 mt-1">BMW India</h5>
          </span>
          <p>
            Redefine luxury with certified pre-owned BMW through BMW Premium
            Selection
          </p>
          <span>
            <img
              style="width: 547px"
              src="https://wallpaperaccess.com/full/1615926.jpg"
              alt=""
            />
            <span class="d-flex pl-1 mt-4">
              <i class="fa fa-heart mt-1 heartColour"></i>
              <p class="pl-2">You and 78 others like this</p>
            </span>
            <hr />
            <span class="likeIcons">
              <span class="d-flex"
                ><i class="fa fa-thumbs-up mt-1"></i>
                <p class="pl-2">Like</p></span
              >
              <span class="d-flex"
                ><i class="fa fa-comment mt-1"></i>
                <p class="pl-2">Comment</p></span
              >
              <span class="d-flex"
                ><i class="fa fa-paper-plane mt-1"></i>
                <p class="pl-2">Send</p></span
              >
              <span class="d-flex"
                ><i class="fa fa-share mt-1"></i>
                <p class="pl-2">Share</p></span
              >
            </span>
            <span class="d-flex">
              <img
                style="height: 40px; width: 40px; border-radius: 100%"
                src="https://i.pinimg.com/originals/07/33/ba/0733ba760b29378474dea0fdbcb97107.png"
                alt=""
              />
              <span
                class="commentsEmojis"
                style="display: none"
                #commentsEmojis
              >
                <i class="fa fa-user"></i>
                <i class="fa fa-camera"></i>
                <i class="fa fa-file"></i>
                <i class="fa fa-sticky-note"></i>
              </span>
              <div class="form-group comment">
                <input
                  placeholder="Comment as Ramesh Kumar Adury"
                  style="
                    width: 499px;
                    background-color: #f0f2f5;
                    border-radius: 25px;
                  "
                  #coomentBox
                  class="form-control ml-2"
                  type="text"
                  name=""
                  id=""
                />
              </div>
            </span>
          </span>
        </div>
      </div>
      <div
      class="card"
      style="    margin-top: 25px;
}"
    >
      <div class="card-body">
        <span class="d-flex postsLogo">
          <img
            src="https://cdn.mos.cms.futurecdn.net/yBBW3VqKmcd2VXY72noNq8.jpg"
            alt=""
          />
          <h5 class="pl-2 mt-1">Kia India</h5>
        </span>
        <p>
          Redefine luxury with certified pre-owned BMW through BMW Premium
          Selection
        </p>
        <span>
          <img
            style="width: 547px"
            src="https://www.kia.com/content/dam/kia2/in/en/our-vehicles/showroom/seltos/KIA_Seltos_KV_1920.jpg"
            alt=""
          />
          <span class="d-flex pl-1 mt-4">
            <i class="fa fa-heart mt-1 heartColour"></i>
            <p class="pl-2">You and 78 others like this</p>
          </span>
          <hr />
          <span class="likeIcons">
            <span class="d-flex"
              ><i class="fa fa-thumbs-up mt-1"></i>
              <p class="pl-2">Like</p></span
            >
            <span class="d-flex"
              ><i class="fa fa-comment mt-1"></i>
              <p class="pl-2">Comment</p></span
            >
            <span class="d-flex"
              ><i class="fa fa-paper-plane mt-1"></i>
              <p class="pl-2">Send</p></span
            >
            <span class="d-flex"
              ><i class="fa fa-share mt-1"></i>
              <p class="pl-2">Share</p></span
            >
          </span>
          <span class="d-flex">
            <img
              style="height: 40px; width: 40px; border-radius: 100%"
              src="https://i.pinimg.com/originals/07/33/ba/0733ba760b29378474dea0fdbcb97107.png"
              alt=""
            />
            <span
              class="commentsEmojis"
              style="display: none"
              #commentsEmojis
            >
              <i class="fa fa-user"></i>
              <i class="fa fa-camera"></i>
              <i class="fa fa-file"></i>
              <i class="fa fa-sticky-note"></i>
            </span>
            <div class="form-group comment">
              <input
                placeholder="Comment as Ramesh Kumar Adury"
                style="
                  width: 499px;
                  background-color: #f0f2f5;
                  border-radius: 25px;
                "
                #coomentBox
                class="form-control ml-2"
                type="text"
                name=""
                id=""
              />
            </div>
          </span>
        </span>
      </div>
    </div>
    <div
    class="card"
    style="    margin-top: 25px;
}"
  >
    <div class="card-body">
      <span class="d-flex postsLogo">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxhI5KA_oxsyAD_MnRyBvhTtN5Y_G0_1MQGk873Zei3VcyIOPquGlfekDtj1AeSwyN0OI&usqp=CAU"
          alt=""
        />
        <h5 class="pl-2 mt-1">Lamborghini India</h5>
      </span>
      <p>
        Redefine luxury with certified pre-owned BMW through BMW Premium
        Selection
      </p>
      <span>
        <img
          style="width: 547px"
          src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/models_gw/2023/03_29_revuelto/gate_models_s_02_m.jpg"
          alt=""
        />
        <span class="d-flex pl-1 mt-4">
          <i class="fa fa-heart mt-1 heartColour"></i>
          <p class="pl-2">You and 78 others like this</p>
        </span>
        <hr />
        <span class="likeIcons">
          <span class="d-flex"
            ><i class="fa fa-thumbs-up mt-1"></i>
            <p class="pl-2">Like</p></span
          >
          <span class="d-flex"
            ><i class="fa fa-comment mt-1"></i>
            <p class="pl-2">Comment</p></span
          >
          <span class="d-flex"
            ><i class="fa fa-paper-plane mt-1"></i>
            <p class="pl-2">Send</p></span
          >
          <span class="d-flex"
            ><i class="fa fa-share mt-1"></i>
            <p class="pl-2">Share</p></span
          >
        </span>
        <span class="d-flex">
          <img
            style="height: 40px; width: 40px; border-radius: 100%"
            src="https://i.pinimg.com/originals/07/33/ba/0733ba760b29378474dea0fdbcb97107.png"
            alt=""
          />
          <span
            class="commentsEmojis"
            style="display: none"
            #commentsEmojis
          >
            <i class="fa fa-user"></i>
            <i class="fa fa-camera"></i>
            <i class="fa fa-file"></i>
            <i class="fa fa-sticky-note"></i>
          </span>
          <div class="form-group comment">
            <input
              placeholder="Comment as Ramesh Kumar Adury"
              style="
                width: 499px;
                background-color: #f0f2f5;
                border-radius: 25px;
              "
              #coomentBox
              class="form-control ml-2"
              type="text"
              name=""
              id=""
            />
          </div>
        </span>
      </span>
    </div>
  </div>
  <div
  class="card"
  style="    margin-top: 25px;
}"
>
  <div class="card-body">
    <span class="d-flex postsLogo">
      <img
        src="https://www.citypng.com/public/uploads/preview/hd-jaguar-logo-emblem-png-701751694709236ybsf2arfeo.png"
        alt=""
      />
      <h5 class="pl-2 mt-1">Jaguar India</h5>
    </span>
    <p>
      Redefine luxury with certified pre-owned BMW through BMW Premium
      Selection
    </p>
    <span>
      <img
        style="width: 547px"
        src="https://stimg.cardekho.com/images/carexteriorimages/930x620/Jaguar/F-TYPE/10647/1701249384983/front-left-side-47.jpg"
        alt=""
      />
      <span class="d-flex pl-1 mt-4">
        <i class="fa fa-heart mt-1 heartColour"></i>
        <p class="pl-2">You and 78 others like this</p>
      </span>
      <hr />
      <span class="likeIcons">
        <span class="d-flex"
          ><i class="fa fa-thumbs-up mt-1"></i>
          <p class="pl-2">Like</p></span
        >
        <span class="d-flex"
          ><i class="fa fa-comment mt-1"></i>
          <p class="pl-2">Comment</p></span
        >
        <span class="d-flex"
          ><i class="fa fa-paper-plane mt-1"></i>
          <p class="pl-2">Send</p></span
        >
        <span class="d-flex"
          ><i class="fa fa-share mt-1"></i>
          <p class="pl-2">Share</p></span
        >
      </span>
      <span class="d-flex">
        <img
          style="height: 40px; width: 40px; border-radius: 100%"
          src="https://i.pinimg.com/originals/07/33/ba/0733ba760b29378474dea0fdbcb97107.png"
          alt=""
        />
        <span
          class="commentsEmojis"
          style="display: none"
          #commentsEmojis
        >
          <i class="fa fa-user"></i>
          <i class="fa fa-camera"></i>
          <i class="fa fa-file"></i>
          <i class="fa fa-sticky-note"></i>
        </span>
        <div class="form-group comment">
          <input
            placeholder="Comment as Ramesh Kumar Adury"
            style="
              width: 499px;
              background-color: #f0f2f5;
              border-radius: 25px;
            "
            #coomentBox
            class="form-control ml-2"
            type="text"
            name=""
            id=""
          />
        </div>
      </span>
    </span>
  </div>
</div>
    </div>

    <div class="col-3">
      <div class="pt-4">
        <h5>Sponsored</h5>
      <h5>  Your Pages and Profile</h5>
      <hr>
      <span><h5>Sponsored</h5></span>
      <hr>
      <h5>  Your Pages and Profile</h5>
<hr>
      <span><h5>Birthdays</h5></span>
      </div>
    </div>
  </div>
</div>


